p{
   margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: lightblue;
   border: 3px solid #555;
}
body {
  background-image: url("baby trunks.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
div {
  padding: 25px 50px 75px 100px;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 26px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}