<href="style.css" rel="stylesheet" type="text/css" />

body {
   
     background-repeat: no-repeat;
  text-align: left;
}

.img{
   border: none;
  float: left;
  width: 120px;
}
.winter {
  color: rgb(195,230,255);
  font-style: oblique;
} 
