


.img{
   border: none;
  float: left;
  width: 10;
  height: 10;
}
.winter {
  color: rgb(195,230,255);
  font-style: oblique;
} 
table {
  border-spacing: 5px;
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

